src/Loom.Web/Configuration/DocumentRedirectConfiguration.xsd

<?xml version="1.0" encoding="utf-16"?>

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="documentRedirectSettings">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="defaultDocument">
          <xs:complexType>
            <xs:attribute name="path" use="optional" type="xs:string" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>